<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hbs demo</title>
</head>

<body>
  HBS template is running.
  <br>
  HBS template message: {{ message }}
</body>

</html>